body {
    background-color: #fff(227, 239, 216);
}

.tab {
    &__panel {
        display: flex;
        justify-content: space-between;
    } &__item {
        width: 300px;
        border: 2px solid #000;
        padding: 20px;
        background-color: pink;
        &.active {
            background-color: rgb(241, 153, 168);
        }
    }
    &__page {
        padding: 20px;
        margin-top: 20px;
        border: 1px solid #000;
        background-color: rgba(137, 43, 226, 0.178);
        display: none;
        &.active {
            display: block;
        }
    }
}